@tailwind base;
@tailwind components;
@tailwind utilities;

html{
  background-color: rgb(168, 218, 233);
}

.button{
  background-color: turquoise;
  width: auto;
}

.button:hover{
  background-color: rgb(48, 169, 156);
  cursor: pointer;
}